@font-face {
font-family: "HK Grotesk";
src: url("../fonts/HKGrotesk-Bold.woff") format("woff"),
url("../fonts/HKGrotesk-Bold.ttf") format("ttf");
font-style: normal;
font-weight: bold;
}
@font-face {
font-family: "HK Grotesk";
src: url("../fonts/HKGrotesk-Regular.woff") format("woff"),
url("../fonts/HKGrotesk-Regular.ttf") format("ttf");
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "HK Grotesk";
src: url("../fonts/HKGrotesk-Italic.woff") format("woff"),
url("../fonts/HKGrotesk-Italic.ttf") format("ttf");
font-style: italic;
font-weight: normal;
}
@font-face {
font-family: "HK Grotesk";
src: url("../fonts/HKGrotesk-BoldItalic.woff") format("woff"),
url("../fonts/HKGrotesk-BoldItalic.ttf") format("ttf");
font-style: italic;
font-weight: bold;
}

body{
  background: #AA0C01;
}

  /*Основной блок*/
.main{
  width: 1440px;
  height: 100% auto;
  display: block;
  margin: auto;
  position: relative;
  background: #D62A1E;
  z-index: -5;
  }

  /*Горизонтальная линия верх*/
.mblh{
  position: absolute;
  height: 3px;
  width: 100%;
  margin-left: 0px;
  margin-top: 0;
  background: rgba(241, 233, 225, 0.25);
  border: none;
  z-index: -3;
}
  /*Боковая линия*/
.mbl{
  position: absolute;
  height: 100%;
  width: 3px;
  margin-left: 0px;
  margin-top: 0;
  background: rgba(241, 233, 225, 0.25);
  border: none;
  z-index: -3;
}

/*Боковая линия 2*/
.mbl2{
position: absolute;
height: 100%;
width: 3px;
margin-left: 1440px;
margin-top: 0;
background: rgba(241, 233, 225, 0.25);
border: none;
z-index: -3;
}

  /*Блок 1*/
.b1{
  position: relative;
  height: 720px;
  z-index: -4;
}

  /*Блок 1 Белый*/
.b1w{
  position: absolute;
  width: 506px;
  height: 720px;
  left: 935px;
  top: 0px;
  margin: 0 0 0 0;
  background-color: #FCF7F2;
  border: none;
  z-index: -4;
}

  /*Стрелка вниз*/
.ar{
  position: relative;
  width: 64.3px;
  height: 32.15px;
  left: 902.85px;
  top: 621px;
  z-index: -2;
}

  /*Блок 1 Линия вертикальная*/
.b1lv1{
  position: absolute;
  height: 721px;
  width: 1px;
  left: 135px;
  border: none;
  margin-top: 0;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 1 Линия вертикальная 2*/
.b1lv2{
  position: absolute;
  height: 721px;
  width: 1px;
  left: 606px;
  border: none;
  margin-top: 0;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 1 Линия вертикальная 3*/
.b1lv3{
  position: absolute;
  height: 721px;
  width: 1px;
  left: 835px;
  border: none;
  margin-top: 0;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 1 Линия горизонтальная*/
.b1lh1{
  position: absolute;
  height: 1px;
  width: 935px;
  left: 0px;
  border: none;
  margin-top: 405px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 1 Линия горизонтальная 2*/
.b1lh2{
  position: absolute;
  height: 1px;
  width: 935px;
  left: 0px;
  border: none;
  margin-top: 499px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 1 Линия горизонтальная 3*/
.b1lh3{
  position: absolute;
  height: 1px;
  width: 935px;
  left: 0px;
  border: none;
  margin-top: 550px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 1 Линия горизонтальная 4*/
.b1lh4{
  position: absolute;
  height: 1px;
  width: 935px;
  left: 0px;
  border: none;
  margin-top: 590px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 1 Линия горизонтальная 5*/
.b1lh5{
  position: absolute;
  height: 1px;
  width: 935px;
  left: 0px;
  border: none;
  margin-top: 621px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 1 Линия горизонтальная красная*/
.b1lhr1{
  position: absolute;
  height: 1px;
  width: 505px;
  left: 0px;
  border: none;
  margin-top: 405px;
  background: rgba(214, 42, 30, 0.35);
  z-index: -3;
}

  /*Блок 1 Линия горизонтальная красная 2*/
.b1lhr2{
  position: absolute;
  height: 1px;
  width: 505px;
  left: 0px;
  border: none;
  margin-top: 499px;
  background: rgba(214, 42, 30, 0.35);
  z-index: -3;
}

  /*Блок 1 Линия горизонтальная красная 3*/
.b1lhr3{
  position: absolute;
  height: 1px;
  width: 505px;
  left: 0px;
  border: none;
  margin-top: 550px;
  background: rgba(214, 42, 30, 0.35);
  z-index: -3;
}

  /*Блок 1 Линия горизонтальная красная 4*/
.b1lhr4{
  position: absolute;
  height: 1px;
  width: 590px;
  left: 0px;
  border: none;
  margin-top: 590px;
  background: rgba(214, 42, 30, 0.35);
  z-index: -3;
}

  /*Блок 1 Линия горизонтальная красная 5*/
.b1lhr5{
  position: absolute;
  height: 1px;
  width: 505px;
  left: 0px;
  border: none;
  margin-top: 621px;
  background: rgba(214, 42, 30, 0.35);
  z-index: -3;
}


  /* HK Grotesk */
.h1{
  position: absolute;
  left: 126px;
  top: 273px;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 900;
  font-size: 135px;
  line-height: 178px;
  color: #FCF7F2;
  z-index: -1;
}

  /* Hanken Design Co. */
.h2{
  position: absolute;
  left: 131px;
  top: 486px;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 57.2px;
  line-height: 74px;
  color: #FCF7F2;
  z-index: -1;
}

  /* Линия */
.l1{
  position: absolute;
  width: 471px;
  height: 4px;
  left: 135.5px;
  top: 611px;
  background: #FCF7F2;
  border: none;
  z-index: -1;
}

  /*Граничная линия 1-2*/
.bl1{
  position: relative;
  height: 3px;
  width: 100%;
  left: 0px;
  border: none;
  margin-top: 683px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}


  /*Блок 2*/
.b2{
  position: relative;
  height: 402px;
  z-index: -4;
}

  /*Блок 2 Линия вертикальная*/
.b2lv1{
  position: absolute;
  height: 404px;
  width: 1px;
  left: 135px;
  border: none;
  margin-top: 0;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

/*Блок 2 Линия вертикальная 2*/
.b2lv2{
  position: absolute;
  height: 404px;
  width: 1px;
  left: 525px;
  border: none;
  margin-top: 0;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

/*Блок 2 Линия вертикальная 3*/
.b2lv3{
  position: absolute;
  height: 404px;
  width: 1px;
  left: 606px;
  border: none;
  margin-top: 0;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

/*Блок 2 Линия вертикальная 4*/
.b2lv4{
  position: absolute;
  height: 404px;
  width: 1px;
  left: 1305px;
  border: none;
  margin-top: 0;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 2 Линия горизонтальная*/
.b2lh1{
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0px;
  border: none;
  margin-top: 80px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 2 Линия горизонтальная*/
.b2lh2{
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0px;
  border: none;
  margin-top: 323px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 2 Текст*/
.b2t1{
  position: absolute;
  width: 370px;
  height: 234px;
  left: 145px;
  margin-top: 85px;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #FCF7F2;
}

  /*Sans-Serif typeface*/
.sst{
  position: absolute;
  width: 699.5px;
  height: 87.4px;
  left: 606px;
  margin-top: 248px;
  z-index: -2;
}

  /*Граничная линия 2-3*/
.bl2{
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0px;
  border: none;
  margin-top: 404px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}


  /*Блок 3*/
.b3{
  position: relative;
  height: 548px;
  z-index: -4;
}

  /*Блок 3 Линия вертикальная*/
.b3lv1{
  position: absolute;
  height: 543px;
  width: 1px;
  left: 135px;
  border: none;
  margin-top: 3px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 3 Линия вертикальная 2*/
.b3lv2{
  position: absolute;
  height: 543px;
  width: 1px;
  left: 1305px;
  border: none;
  margin-top: 3px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

/*Блок 3 композиция*/
.b3c1{
position: absolute;
width: 1170px;
height: 541px;
left: 136px;
margin-top: 4px;
z-index: -2;
}

  /*Граничная линия 3-4*/
.bl3{
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0px;
  border: none;
  margin-top: 544px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}


  /*Блок 4*/
.b4{
  position: relative;
  height: 292px;
  margin-top: 60px;
  z-index: -4;
}

/*Граничная линия 3-4 (1)*/
.bl4{
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0px;
  border: none;
  margin-top: 0px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

/*Блок 4 Белый*/
.b4w{
  position: absolute;
  width: 804px;
  height: 292px;
  margin: 1.5px auto auto 0;
  background: #FCF7F2;
  border: none;
  z-index: -4;
}

/*Блок 4 Красный*/
  .b4r{
  position: absolute;
  width: 636px;
  height: 292px;
  margin: 0 auto auto 804px;
  background: #D62A1E;
  border: none;
  z-index: -4;
}

  /*Блок 4 Линия вертикальная красная*/
.b4lvr1{
  position: absolute;
  height: 292px;
  width: 1px;
  left: 135px;
  border: none;
  margin-top: 0;
  background: rgba(214, 42, 30, 0.35);
  z-index: -3;
}

  /*Блок 4 Линия вертикальная красная 2*/
.b4lvr2{
position: absolute;
height: 292px;
width: 1px;
left: 764px;
border: none;
margin-top: 0;
background: rgba(214, 42, 30, 0.35);
z-index: -3;
}

  /*Блок 4 Линия горизонтальная красная*/
.b4lhr1{
  position: absolute;
  height: 1px;
  width: 805px;
  left: 0px;
  border: none;
  margin-top: 40px;
  background: rgba(214, 42, 30, 0.35);
  z-index: -3;
}

  /*Блок 4 Линия горизонтальная красная 2*/
.b4lhr2{
  position: absolute;
  height: 1px;
  width: 805px;
  left: 0px;
  border: none;
  margin-top: 253px;
  background: rgba(214, 42, 30, 0.35);
  z-index: -3;
}

.pstr1{
  position: absolute;
  width: 148px;
  height: 212px;
  margin-left: 136px;
  margin-top: 41px;
  z-index: -2;
}

.pstr2{
  position: absolute;
  width: 166px;
  height: 212px;
  margin-left: 294px;
  margin-top: 41px;
  z-index: -2;
}

.pstr3{
  position: absolute;
  width: 141px;
  height: 212px;
  margin-left: 472px;
  margin-top: 41px;
  z-index: -2;
}

.pstr4{
  position: absolute;
  width: 138px;
  height: 212px;
  margin-left: 626px;
  margin-top: 41px;
  z-index: -2;
}

  /*Блок 4 Линия вертикальная*/
.b4lv1{
  position: absolute;
  height: 292px;
  width: 1px;
  margin-left: 40px;
  margin-top: 0;
  background: rgba(241, 233, 225, 0.25);
  border: none;
  z-index: -3;
}

  /*Блок 4 Линия вертикальная 2*/
.b4lv2{
  position: absolute;
  height: 292px;
  width: 1px;
  margin-left: 501px;
  margin-top: 0;
  background: rgba(241, 233, 225, 0.25);
  border: none;
  z-index: -3;
}

  /*Блок 4 Линия горизонтальная*/
.b4lh1{
  position: absolute;
  height: 1px;
  width: 636px;
  margin-left: 0px;
  margin-top: 40px;
  background: rgba(241, 233, 225, 0.25);
  border: none;
  z-index: -3;
}

  /*Блок 4 Линия горизонтальная 2*/
.b4lh2{
  position: absolute;
  height: 1px;
  width: 636px;
  margin-left: 0px;
  margin-top: 154px;
  background: rgba(241, 233, 225, 0.25);
  border: none;
  z-index: -3;
}

  /*Блок 4 Текст*/
.b4t1{
  position: absolute;
  width: 441px;
  height: 104px;
  margin-left: 50px;
  margin-top: 45px;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #FCF7F2;
}

  /*Граничная линия 4-5*/
.bl5{
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0px;
  border: none;
  margin-top: 292px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 5*/
.b5{
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 840px;
  margin-top: 2px;
  z-index: -4;
}

  /*Блок 5 Колонка 1*/
.b5clmn1{
  position: absolute;
  width: 270px;
  height: 840px;
  margin-left: 135px;
  /*background: yellow;*/
}

/*Блок 5 Колонка 2*/
.b5clmn2{
  position: absolute;
  width: 270px;
  height: 840px;
  margin-left: 435px;
  /*background: blue;*/
}

/*Блок 5 Колонка 3*/
.b5clmn3{
  position: absolute;
  width: 270px;
  height: 840px;
  margin-left: 735px;
  /*background: black;*/
}

/*Блок 5 Колонка 4*/
.b5clmn4{
  position: absolute;
  width: 270px;
  height: 840px;
  margin-left: 1035px;
  /*background: orange;*/
}

/*Блок 5 Thin*/
.z1{
  position: absolute;
  margin-top: 80px;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 200;
  font-size: 42px;
  line-height: 54.73px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 Thin текст*/
.tz1{
  position: absolute;
  margin-top: 147px;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 26.06px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 Thin italic*/
.z1i{
  position: absolute;
  margin-top: 269px;
  font-family: HK Grotesk;
  font-style: italic;
  font-weight: 200;
  font-size: 32px;
  line-height: 41.7px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 Thin italic текст*/
.tz1i{
  position: absolute;
  margin-top: 321px;
  font-family: HK Grotesk;
  font-style: italic;
  font-weight: 100;
  font-size: 16px;
  line-height: 20.85px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 SemiBold*/
.z2{
  position: absolute;
  margin-top: 451px;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 54.73px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 Semibold текст*/
.tz2{
  position: absolute;
  margin-top: 518px;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26.06px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 SemiBold italic*/
.z2i{
  position: absolute;
  margin-top: 638px;
  font-family: HK Grotesk;
  font-style: italic;
  font-weight: 600;
  font-size: 32px;
  line-height: 41.7px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 Semibold italic текст*/
.tz2i{
  position: absolute;
  margin-top: 691px;
  font-family: HK Grotesk;
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 20.85px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 Light*/
.z3{
  position: absolute;
  margin-top: 80px;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 300;
  font-size: 42px;
  line-height: 54.73px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 Light текст*/
.tz3{
  position: absolute;
  margin-top: 147px;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 26.06px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 Light italic*/
.z3i{
  position: absolute;
  margin-top: 269px;
  font-family: HK Grotesk;
  font-style: italic;
  font-weight: 300;
  font-size: 32px;
  line-height: 41.7px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 Light italic текст*/
.tz3i{
  position: absolute;
  margin-top: 321px;
  font-family: HK Grotesk;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 20.85px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 Bold*/
.z4{
  position: absolute;
  margin-top: 451px;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 54.73px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 Bold текст*/
.tz4{
  position: absolute;
  margin-top: 518px;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26.06px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 Bold italic*/
.z4i{
  position: absolute;
  margin-top: 638px;
  font-family: HK Grotesk;
  font-style: italic;
  font-weight: 700;
  font-size: 32px;
  line-height: 41.7px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 Bold italic текст*/
.tz4i{
  position: absolute;
  margin-top: 691px;
  font-family: HK Grotesk;
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 20.85px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 Regular*/
.z5{
  position: absolute;
  margin-top: 80px;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 54.73px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 Regular текст*/
.tz5{
  position: absolute;
  margin-top: 147px;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26.06px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 Regular italic*/
.z5i{
  position: absolute;
  margin-top: 269px;
  font-family: HK Grotesk;
  font-style: italic;
  font-weight: 400;
  font-size: 32px;
  line-height: 41.7px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 Regular italic текст*/
.tz5i{
  position: absolute;
  margin-top: 321px;
  font-family: HK Grotesk;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.85px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 ExtraBold*/
.z6{
  position: absolute;
  margin-top: 451px;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 54.73px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 ExtraBold текст*/
.tz6{
  position: absolute;
  margin-top: 518px;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 26.06px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 ExtraBold italic*/
.z6i{
  position: absolute;
  margin-top: 638px;
  font-family: HK Grotesk;
  font-style: italic;
  font-weight: 800;
  font-size: 32px;
  line-height: 41.7px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 ExtraBold italic текст*/
.tz6i{
  position: absolute;
  margin-top: 691px;
  font-family: HK Grotesk;
  font-style: italic;
  font-weight: 800;
  font-size: 16px;
  line-height: 20.85px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 Medium*/
.z7{
  position: absolute;
  margin-top: 80px;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 54.73px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 Medium текст*/
.tz7{
  position: absolute;
  margin-top: 147px;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26.06px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 Medium italic*/
.z7i{
  position: absolute;
  margin-top: 269px;
  font-family: HK Grotesk;
  font-style: italic;
  font-weight: 500;
  font-size: 32px;
  line-height: 41.7px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 Medium italic текст*/
.tz7i{
  position: absolute;
  margin-top: 321px;
  font-family: HK Grotesk;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 20.85px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 Black*/
.z8{
  position: absolute;
  margin-top: 451px;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  line-height: 54.73px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 Black текст*/
.tz8{
  position: absolute;
  margin-top: 518px;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 26.06px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 Black italic*/
.z8i{
  position: absolute;
  margin-top: 638px;
  font-family: HK Grotesk;
  font-style: italic;
  font-weight: 900;
  font-size: 32px;
  line-height: 41.7px;
  color: #FCF7F2;
  z-index: -1;
}

/*Блок 5 Black italic текст*/
.tz8i{
  position: absolute;
  margin-top: 691px;
  font-family: HK Grotesk;
  font-style: italic;
  font-weight: 900;
  font-size: 16px;
  line-height: 20.85px;
  color: #FCF7F2;
  z-index: -1;
}

  /*Блок 5 Линия вертикальная*/
.b5lv1{
  position: absolute;
  height: 840px;
  width: 1px;
  left: 135px;
  border: none;
  margin-top: 0;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 5 Линия вертикальная 2*/
.b5lv2{
  position: absolute;
  height: 840px;
  width: 1px;
  left: 405px;
  border: none;
  margin-top: 0;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 5 Линия вертикальная 3*/
.b5lv3{
  position: absolute;
  height: 840px;
  width: 1px;
  left: 435px;
  border: none;
  margin-top: 0;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 5 Линия вертикальная 4*/
.b5lv4{
  position: absolute;
  height: 840px;
  width: 1px;
  left: 705px;
  border: none;
  margin-top: 0;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 5 Линия вертикальная 5*/
.b5lv5{
  position: absolute;
  height: 840px;
  width: 1px;
  left: 735px;
  border: none;
  margin-top: 0;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 5 Линия вертикальная 6*/
.b5lv6{
  position: absolute;
  height: 840px;
  width: 1px;
  left: 1005px;
  border: none;
  margin-top: 0;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 5 Линия вертикальная 7*/
.b5lv7{
  position: absolute;
  height: 840px;
  width: 1px;
  left: 1035px;
  border: none;
  margin-top: 0;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 5 Линия вертикальная 8*/
.b5lv8{
  position: absolute;
  height: 840px;
  width: 1px;
  left: 1305px;
  border: none;
  margin-top: 0;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 5 Линия горизонтальная*/
.b5lh1{
  position: absolute;
  height: 1px;
  width: 1440px;
  left: 0px;
  border: none;
  margin-top: 122px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 5 Линия горизонтальная 2*/
.b5lh2{
  position: absolute;
  height: 1px;
  width: 1440px;
  left: 0px;
  border: none;
  margin-top: 147px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 5 Линия горизонтальная 3*/
.b5lh3{
  position: absolute;
  height: 1px;
  width: 1440px;
  left: 0px;
  border: none;
  margin-top: 258px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 5 Линия горизонтальная 4*/
.b5lh4{
  position: absolute;
  height: 1px;
  width: 1440px;
  left: 0px;
  border: none;
  margin-top: 301px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 5 Линия горизонтальная 5*/
.b5lh5{
  position: absolute;
  height: 1px;
  width: 1440px;
  left: 0px;
  border: none;
  margin-top: 321px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 5 Линия горизонтальная 6*/
.b5lh6{
  position: absolute;
  height: 1px;
  width: 1440px;
  left: 0px;
  border: none;
  margin-top: 391px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 5 Линия горизонтальная 7*/
.b5lh7{
  position: absolute;
  height: 1px;
  width: 1440px;
  left: 0px;
  border: none;
  margin-top: 493px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 5 Линия горизонтальная 8*/
.b5lh8{
  position: absolute;
  height: 1px;
  width: 1440px;
  left: 0px;
  border: none;
  margin-top: 518px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 5 Линия горизонтальная 9*/
.b5lh9{
  position: absolute;
  height: 1px;
  width: 1440px;
  left: 0px;
  border: none;
  margin-top: 628px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 5 Линия горизонтальная 10*/
.b5lh10{
  position: absolute;
  height: 1px;
  width: 1440px;
  left: 0px;
  border: none;
  margin-top: 670px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 5 Линия горизонтальная 11*/
.b5lh11{
  position: absolute;
  height: 1px;
  width: 1440px;
  left: 0px;
  border: none;
  margin-top: 690px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 5 Линия горизонтальная 12*/
.b5lh12{
  position: absolute;
  height: 1px;
  width: 1440px;
  left: 0px;
  border: none;
  margin-top: 760px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

/*Граничная линия 5-6*/
.bl6{
position: absolute;
height: 3px;
width: 100%;
left: 0px;
border: none;
margin-top: 840px;
background: rgba(241, 233, 225, 0.25);
z-index: -3;
}

  /*Блок 6*/
.b6{
  position: relative;
  height: 548px;
  margin-top: 2px;
  background-color: #FCF7F2;
  z-index: -4;
}

  /*Блок 6 Линия вертикальная*/
.b6lv1{
  position: absolute;
  height: 548px;
  width: 1px;
  margin-left: 135px;
  border: none;
  margin-top: 0px;
  background: rgba(214, 42, 30, 0.35);
  z-index: -3;
}

  /*Блок 6 Линия вертикальная 2*/
.b6lv2{
  position: absolute;
  height: 548px;
  width: 1px;
  margin-left: 1305px;
  border: none;
  margin-top: 0px;
  background: rgba(214, 42, 30, 0.35);
  z-index: -3;
}

  /*Блок 6 композиция*/
.b6c1{
  position: absolute;
  width: 1170px;
  height: 548px;
  left: 136px;
  margin-top: 0px;
  z-index: -2;
}

  /*Граничная линия 6-7*/
.bl7{
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0px;
  border: none;
  margin-top: 546.5px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 7*/
.b7{
  position: relative;
  height: 625px;
  margin-top: 0px;
  z-index: -4;
}

  /*Блок 7 Линия вертикальная*/
.b7lv1{
  position: absolute;
  height: 625px;
  width: 1px;
  margin-left: 135px;
  border: none;
  margin-top: 0px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 7 Линия вертикальная 2*/
.b7lv2{
  position: absolute;
  height: 625px;
  width: 1px;
  margin-left: 1305px;
  border: none;
  margin-top: 0px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 7 Линия горизонтальная*/
.b7lh1{
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0px;
  border: none;
  margin-top: 80px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 7 Линия горизонтальная*/
.b7lh2{
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0px;
  border: none;
  margin-top: 545px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Глифы*/
/*.glf{
  position: absolute;
  height: 450px;
  width: 1150px;
  margin-top: 90px;
  margin-left: 145px;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 50.4px;
  color: #FCF7F2;
  text-align: center;
  z-index: -1;
}*/

.glfs{
  position: absolute;
  height: 450px;
  width: 1150px;
  margin-top: 89px;
  margin-left: 145px;
  z-index: -1;
}

  /*Граничная линия 7-8*/
.bl8{
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0px;
  border: none;
  margin-top: 625px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 8*/
.b8{
  position: relative;
  height: 732px;
  margin-top: 0px;
  z-index: -4;
}

  /*Блок 8 Линия вертикальная*/
.b8lv1{
  position: absolute;
  height: 732px;
  width: 1px;
  margin-left: 135px;
  border: none;
  margin-top: 0px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 8 Линия вертикальная 2*/
.b8lv2{
  position: absolute;
  height: 732px;
  width: 1px;
  margin-left: 635px;
  border: none;
  margin-top: 0px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

/*Блок 8 Линия вертикальная 3*/
.b8lv3{
position: absolute;
height: 732px;
width: 1px;
margin-left: 1305px;
border: none;
margin-top: 0px;
background: rgba(241, 233, 225, 0.25);
z-index: -3;
}

  /*Блок 8 Линия горизонтальная*/
.b8lh1{
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0px;
  border: none;
  margin-top: 80px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 8 Линия горизонтальная 2*/
.b8lh2{
  position: absolute;
  height: 1px;
  width: 687px;
  left: 0px;
  border: none;
  margin-top: 223px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 8 Линия горизонтальная 3*/
.b8lh3{
  position: absolute;
  height: 1px;
  width: 687px;
  left: 0px;
  border: none;
  margin-top: 274px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 8 Линия горизонтальная 4*/
.b8lh4{
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0px;
  border: none;
  margin-top: 652px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Блок 8 Текст*/
.b8t1{
  position: absolute;
  width: 489px;
  height: 130px;
  left: 145px;
  margin-top: 85px;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #FCF7F2;
}

.web{
  position: absolute;
  width: 500px;
  height: 379px;
  margin-left: 135px;
  margin-top: 274px;
}

.phone1{
  position: absolute;
  width: 279.63px;
  height: 572px;
  margin-left: 685px;
  margin-top: 80px;
}

.phone2{
  position: absolute;
  width: 279.63px;
  height: 572px;
  margin-left: 1026.77px;
  margin-top: 80px;
}

  /*Граничная линия 8-9*/
.bl9{
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0px;
  border: none;
  margin-top: 732px;
  background: rgba(241, 233, 225, 0.25);
  z-index: -3;
}

  /*Подвал*/
.footer{
  position: relative;
  height: 137px;
  margin-top: 0px;
  background-color: #FCF7F2;
  z-index: -4;
}

.logo{
  position: absolute;
  left: 133px;
  margin-top: 36px;
  padding: 0 0 0 0;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 44.3px;
  color: #D62A1E;
  z-index: -1;
}

.fcbk{
  position: absolute;
  margin-left: 623px;
  margin-top: 53px;
  padding: 0 0 0 0;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20.85px;
  color: #D62A1E;
  z-index: -1;
}

.twttr{
  position: absolute;
  margin-left: 762px;
  margin-top: 53px;
  padding: 0 0 0 0;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20.85px;
  color: #D62A1E;
  z-index: -1;
}

.utb{
  position: absolute;
  margin-left: 880px;
  margin-top: 53px;
  padding: 0 0 0 0;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20.85px;
  color: #D62A1E;
  z-index: -1;
}

.vk{
  position: absolute;
  margin-left: 1010px;
  margin-top: 53px;
  padding: 0 0 0 0;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20.85px;
  color: #D62A1E;
  z-index: -1;
}

.inst{
  position: absolute;
  margin-left: 1099px;
  margin-top: 53px;
  padding: 0 0 0 0;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20.85px;
  color: #D62A1E;
  z-index: -1;
}

.tlgrm{
  position: absolute;
  margin-left: 1242px;
  margin-top: 53px;
  padding: 0 0 0 0;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20.85px;
  color: #D62A1E;
  z-index: -1;
}

.l2{
  position: absolute;
  width: 1170px;
  height: 2px;
  left: 135px;
  top: 77px;
  background: #D62A1E;
  border: none;
  z-index: -1;
}
